.payment-success-fail {
  &.thanks-page {
    h3 {
      text-transform: uppercase;
      font-weight: 900;
      font-family: 'Circular Std';
      padding: 0;
      margin: 0 0 10px 0;
      font-size: 12.8px;
      line-height: 23px;
    }

    .thanks-flex {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      @media (min-width:$screen-md) {
        flex-direction: row;
      }

    }

    .left-thanks {
      width: 100%;
      margin: 0 0px;
      padding-right: 0px;
      order:2;

      @media (min-width:$screen-md) {
        padding-right: 25px;
        width: calc(100% - 380px);
        order:1;
      }

      .delivery-options {
        background: #fff;
        border-radius: 8px;
        padding: 25px;
        margin-bottom: 04px;

        @media (min-width:$screen-sm) {
          margin-bottom: 24px;
        }

        .text {
          opacity: 0.8;
          line-height: 21px;
        }

        h3 {
          text-transform: uppercase;
          margin: 0 !important;
          padding: 0 !important;
          font-family: 'Bebas Neue';
          font-weight: 700;
          font-size: 31px;
          display: block;
          text-align: left;
          margin-bottom: 25px !important;
        }

        .order-items {
          .order-item {

            display: flex;
            margin-bottom: 20px;
            border-bottom: 1px solid #E7E9ED;
            padding-bottom: 20px;
            flex-direction: column;
            text-align: left;
            width:100%  !important;
             

            @media (min-width:$screen-sm) {
              flex-direction: row;
            }

            &:last-of-type {
              border-bottom: none;
            }

            .order-img {
              max-width: 100%;
              padding-right: 0px;
              display: flex;

              .img_box   {


                max-width:120px;

                @media (min-width:$screen-sm) {
                 width:100%;
                }


                img {box-shadow: -1px 4px 6px -4px #6d6d6d;}
              }
              

              .right_info {
                display: block; 
                margin-left: auto;


                strong {
                  font-family: 'Circular Std';
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 36px;
                  letter-spacing: 0.005em;
                  display: block;
                }

                span {
                  color: rgba(30, 32, 36, .8);
                  font-size: 16px;
                  line-height: 32px;
                }

              }

              @media (min-width:$screen-sm) {
                max-width: 200px;
                padding-right: 20px;

                .right_info {
                  display: none;
                }

              }

            }

            .order-info {
              width: 100%;

              @media (min-width:$screen-sm) {
                //width: calc(100% - 200px);
              }

              .row-top {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
              

                strong {
                  font-family: 'Circular Std';
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 36px;
                  letter-spacing: 0.005em;
                  display: block;
                }

                span {
                  color: rgba(30, 32, 36, .8);
                  font-size: 16px;
                  line-height: 32px;
                }

                .left_info {
                  
                  width: 80%;
                }

                .right_info {
                  
                  display: none;
                  width:20%;
                  text-align: right;

                  @media (min-width:$screen-sm) {
                    display: block;
                  }

                }

              }

              .row-title-sub {
                color: rgba(30, 32, 36, .8);
                font-size: 16px;
                line-height: 32px;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
              }

              .row-info {
                border-top: 1px solid #E7E9ED;
                padding-top: 10px;
                flex-wrap:wrap;
               
                display: flex;

                .info-col {
                  display: flex;
                  flex-direction: column;
                 
                  width:50%;
                 

                  @media (min-width:$screen-sm) {
                    width:30%;
                  }

                  span {
                    color: rgba(30, 32, 36, .8);
                    font-size: 12.8px;
                    line-height: 32px;
                  }

                }

              }

            }

          }

        }

      }

    }

    .right-thanks-outer {
      position: relative;
      width: 100%;
      margin-bottom: 25px;

      order:1;

      @media (min-width:$screen-md) {
        width: 380px;
        margin-bottom: 0;
        order:2;
      }

      .shop-continue {
        position: absolute;
        top: -55px;
        right: 5px;
      }

      .right-thanks {
        padding: 25px;
        background: #fff;
        border-radius: 8px;

        h3 {
          text-transform: uppercase;
          margin: 0 !important;
          padding: 0 !important;
          font-family: 'Bebas Neue';
          font-weight: 700;
          font-size: 31px;
          display: block;
        }

        .summary-content {
          margin-top: 15px;
        }

        .summary-totals {
          border-top: 1px solid #E7E9ED;
          border-bottom: 1px solid #E7E9ED;
          padding: 20px 0;
          font-size: 16px;
          margin-bottom: 20px;

          .summary-order-no {
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .summary-date {
            display: flex;
            margin-bottom: 5px;
            align-items: center;
            justify-content: space-between;
          }

          .summary-paymethod {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

        }

        .sum-total {
          padding: 0px 0 0px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: 'Circular Std';
          font-weight: 700;
          font-size: 20px;
          line-height: 36px;
          letter-spacing: 0.005em;
        }

      }

    }

  }

}

#success-message {
  margin: 0 auto;
  max-width: 1224px;
  padding: 0 20px 40px;
  position: relative;
  text-align: center;

  @media (min-width:$screen-sm) {
    text-align: left;
    padding-bottom: 0;
  }

  position: relative;

  h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 39.063px;
    position: relative;
    padding-left: 0px;

    @media (min-width:$screen-sm) {
      padding-left: 45px;
    }

    &:before {
      content: url('../../images/vouchers/svg/icon_success.svg');
      position: absolute;
      left: 50%;
      top: -50px;
      margin-left: -16px;

      @media (min-width:$screen-sm) {
        position: absolute;
        left: 0px;
        top: 0px;
        margin-left: 0;
      }

    }

  }

  p {
    padding-bottom: 0px !important;
    max-width: 100% !important;
  }

  .share-continue {
    position: absolute;
    bottom: -5px;
    right: 15px;

    @media (min-width:$screen-sm) {
      right: 5px;
    }

  }

}

.thankyou_lower {
  display: flex;
  justify-content: space-between;


  &.for_desktop {
    display: none;

    @media (min-width:$screen-md) {
      display: flex;
    }

  }

  &.for_mobile {
    margin-top: 30px;
    display: flex;
    order:3;

    @media (min-width:$screen-md) {
      display: none;
    }

  }

  .left {
    text-align: left;

    a.button {
      padding-left: 0 !important;
      margin-top: 0 !important;
    }

  }

  .right {
  }

}