.default-page {
	padding: 150px 0 50px;
	.page-title {
		padding-bottom: 50px;
		h2 {
			font-size: 68px;
			line-height: 94%;
			padding-bottom: 0;
			text-align: center;
			@media (min-width:$screen-md) {
				font-size: 149.012px;
				text-align: left;
				line-height: 95%;
			}
		}
	}

	h3 {
		font-family: 'Bebas Neue';
		  font-family: 'Circular Std';
		font-style: normal;
		font-weight: bold;
		font-size: 31.25px;
		line-height: 105%;
		letter-spacing: 0.005em;
		color: #000000;
		padding-top: 23px;
		padding-bottom: 35px;
	}

	p {
		font-family: Circular;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 200%;
		letter-spacing: 0.005em;
		color: rgba(16,18,24,0.7);
		font-family: 'Circular Std Book';
		padding-bottom: 40px;
		max-width: 792px;
	}

	ul {
		margin-bottom: 32px;
		margin-left: 16px;
		li {
			font-family: 'Circular Std Book';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 200%;
			letter-spacing: 0.005em;
			color: rgba(16,18,24,0.7);
			margin-left: 0;
			list-style: disc;
			
		}
	}

	ol {
		counter-reset: item;
		li {
			display: block;
			font-family: 'Circular Std';
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 180%;
			letter-spacing: 0.005em;
			color: rgba(16,18,24,0.7);
			padding-bottom: 32px;
			position: relative;
			margin-left: 24px;


			&:before {
				content: counters(item, ".") ". ";
				counter-increment: item;
				padding-right: 24px;
				position: absolute;
				left: -24px;
				min-width: 60px;
			}

			ol {
				padding-top: 32px;
				margin-left: 50px;
				li {
					font-family: 'Circular Std Book';
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 200%;
					letter-spacing: 0.005em;
					color: rgba(16,18,24,0.7);
					margin-left: 0;
					@media (min-width:$screen-md) {
						margin-left: 24px;
					}

					&:before {
						left: -60px;
					}

					ol {
						margin-left: 37px;
						li {

						}
					}
				}
			}
		}

	}

	&.privacy-page {
		ol {
			li {
				font-family: 'Circular Std Book';
				font-weight: normal;
				font-size: 16px;
			}
		}
	}
}