.related.products {
	display: none;
}

.buyvouchers-product-page {

	.variations_form {

		input,
		select,
		label {
			display: block;
		}

		label {
			padding-bottom: 5px;
		}

		.nyp {
			padding-bottom: 15px;
		}
	}

	.woocommerce-Price-amount {

		bdi {
			display: none!important;
			font-family: 'Circular Std Book';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 200%;
			letter-spacing: .005em;
			color: #fff;
			border: 1px solid #e7e9ed;
			padding: 16px;
			margin: 0 0 15px;
			transition: ease all .3s;
			border-radius: 0!important;
			opacity: 1;
			width: 100%;
		}
	}

	.wapf-field-container {
		margin: 0;
		padding: 0 5px 20px;

		.selectric-wrapper {
			margin-bottom: 0 !important;
		}
	}

	button.button {
		font-family: 'Circular Std Book';
		text-transform: uppercase;
		font-weight: 700;
		color: #000;
		background-color: transparent;
		border: 1px solid #ff5f00;
		border-radius: 5px;
		outline: 0;
		letter-spacing: 1px;
		cursor: pointer;
		display: flex;
		margin: 30px 0 0 auto;
		padding: 14px 24px;
	}
}