#page-signup {

	//background:red !important;
	 background:url(../../images/light_background.png);

	.col {
		width: 100%;
		@media (min-width:$screen-md) {
			max-width: 50%;
		}

		&.left {
			padding: 0 0 64px;
			@media (min-width:$screen-md) {
				padding: 0 90px; 
			}
		}

		&.right {h3 {   font-family: 'Bebas Neue';}}

	}

	h6 {
		padding-bottom: 32px;
		text-align: center;
		@media (min-width:$screen-md) {
			text-align: left;
			margin-top: -35px;
		}
	}

	h2 {
		color: #000;
		font-size: 50px;
		line-height: 90%;
		padding-bottom: 40px;
		text-align: center;
		@media (min-width:$screen-md) {
			text-align: left;
			font-size: 76.294px;
			padding-bottom: 16px;
			max-width: 356px;
		}
	}

	h3 {
		font-size: 24px;
		line-height: 105%;
		color: #000;font-family: 'Circular Std';
		font-style: normal;
		font-weight: 900;
		padding-bottom: 0;
		text-align: center;
		@media (min-width:$screen-md) {
			font-size: 31.25px;
			text-align: left;
		}
	}

	.selectric-wrapper {
		.selectric {
			&:hover {
				.button {
					top: -4px;
				}
			}
		}
	}
}
