/* formidable */
.frm_forms {
	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	.frm_screen_reader,
	.frm_verify {
		display: none;
	}

	.form-field {
		position: relative;

		&.select {
			> label {
				display: none;
			}

		}

	}

	.frm_error {
		font-family: 'Circular Std Book';
		font-style: normal;
		font-weight: normal;
		font-size: 12.8px;
		line-height: 180%;
		letter-spacing: 0.005em;
		color: rgba(241, 61, 61, 0.8) !important;
		position: absolute;
		bottom: -3px;
		left: 16px;
		opacity: 0;
	}

	.frm_blank_field {
		position: relative;
		margin-bottom: 22px;
		transition: ease all 0.3s;

		input,
		textarea  {border-color:#F05E24;}


		&:before {
			content: "";
			width: 20px;
			height: 20px;
			background-image: url(../../images/alert.png);
			background-size: 100% auto;
			background-position: center;
			position: absolute;
			right: 18px;
			top: 22px;
		}

		.frm_error {
			opacity: 1;
		}

	}

	.frm_none_container {
		position: relative;

		label {
			//display: none;
			position: absolute;
			top: -12px;
			left: 10px;
			padding: 0 6px;
			color: #fff;
			font-family: 'Circular Std Book';
			font-style: normal;
			font-weight: normal;
			font-size: 12.8px;
			line-height: 180%;
			//background-image: url(../../images/dark_background.png);
			background-color:#fff;
			pointer-events: none;
			opacity: 0;
			transform: translateY(34px);
			transition: ease all 0.3s;
		}

		&.focused {
			label {
				opacity: 1;
				transform: translateY(0px);
			}

			&.frm_blank_field {
				position: relative;
				margin-bottom: 22px;
				transition: ease all 0.3s;

				label {
					color: rgba(241, 61, 61, 0.8);
				}

				.frm_error {
					opacity: 1;
				}

			}

		}

		&.just-focus {
			label {
				color: rgba(240, 94, 36, 0.8);

				background-color:#fff !important
				;
			}

			.selectric-wrapper {
				border-color: #F05E24;
			}

		}

	}

	input,
	textarea {
		background: none;
		box-shadow: none;
		margin: 0;
		font-family: 'Circular Std Book';
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 200%;
		letter-spacing: 0.005em;
		color: $black;
		width: 100%;
		border: 1px solid #A1A7B5;
		width: 100%;
		padding: 16px;
		margin-bottom: 20px;
		transition: ease all 0.3s;
		//border-radius: 0 !important;
		border-radius: 5px;

		&:focus {
			outline: none;
			border: 1px solid #F05E24;

			&::-webkit-input-placeholder {

				/* Chrome/Opera/Safari */
				color: transparent;
				opacity: 0;
			}

			&::-moz-placeholder {

				/* Firefox 19+ */
				color: transparent;
				opacity: 0;
			}

			&:-ms-input-placeholder {

				/* IE 10+ */
				color: transparent;
				opacity: 0;
			}

			&:-moz-placeholder {

				/* Firefox 18- */
				color: transparent;
				opacity: 0;
			}

		}

		&::-webkit-input-placeholder {

			/* Chrome/Opera/Safari */
			color: rgba(0, 0, 0, 1);
		}

		&::-moz-placeholder {

			/* Firefox 19+ */
			color: rgba(0, 0, 0, 1);
		}

		&:-ms-input-placeholder {

			/* IE 10+ */
			color: rgba(0, 0, 0, 1);
		}

		&:-moz-placeholder {

			/* Firefox 18- */
			color: rgba(0, 0, 0, 1);
		}

	}

	.selectric-wrapper {
		border: 1px solid #A1A7B5;
		width: 100%;
		padding: 16px;
		margin-bottom: 20px;
		transition: ease all 0.3s;border-radius: 5px;

		span.label {
			font-family: 'Circular Std Book';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 200%;
			letter-spacing: 0.005em;
			color: rgba(0, 0, 0, 1);
		}

		.button {
			top: -6px;
			right: 0;
		}

		&.selectric-open .selectric-items {
			display: block;
			width: calc(100% + 3px) !important;
			left: -1px;
			top: 60px;
			background: #1E2024;
			background: #fff;
			color: #000;
			border: 1px solid #fff;
			box-sizing: border-box;
			box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
			border-radius:5px;

			li {
				color: #000;
			}

		}

		.selectric-items li.highlighted {
			background: rgba(161, 167, 181, 0.05);
			 
			 
			color: #000;
		}

		.selectric-items li:hover {
			background: rgba(161, 167, 181, 0.05);
			 
			color: #000;
		}

	}

	.frm_submit {
		button {
			border-radius: 5px;
			background: none;
			font-size: 12.8px;
			font-family: 'Circular Std';
			font-weight: 900;
			font-style: normal;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0.08em;
			line-height: 180%;
			color: #000;
			border: 1px solid $orange2;
			padding: 14px 32px;

			&:hover {
				cursor: pointer;
			}

		}

	}

}

.frm_error {
	font-family: 'Circular Std Book';
	font-style: normal;
	font-weight: normal;
	font-size: 12.8px;
	line-height: 180%;
	letter-spacing: 0.005em;
	color: rgba(241, 61, 61, 0.8) !important;
}

.frm_message {
	font-family: 'Circular Std Book';
	font-style: normal;
	font-weight: normal;
	font-size: 12.8px;
	line-height: 180%;
	letter-spacing: 0.005em;
	color: rgba(1, 159, 5, 0.8) !important;
}

.form-wrap {
	background-image: url(../../images/dark_background.png);
	background-image: none;
	background-color: #fff;
	padding: 40px 24px;
	border-radius: 10px;

	@media (min-width:$screen-md) {
		padding: 54px 64px;
	}

	h3 {
		font-size: 29px !important;
		line-height: 120% !important;
		padding-bottom: 40px !important;
		color: #fff;
		text-align: left !important;

		@media (min-width:$screen-md) {
			font-size: 39.063px !important;
		}

	}
}

.check_no img {
	display: inline-block;
	height: 8px;
	margin-left: 5px;
	width: auto;
}
