/* generic */

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
	padding: 0 20px;
	position: relative;

	@media (min-width:$screen-lg) {
		padding: 0 120px;
	}
}

.flex {
	display: flex;
}

.section {
	//position: relative;
}
.woocommerce a.button,
.button {
	font-size: 11.667px;
	font-family: 'Circular Std';
	font-weight: 900;
	font-style: normal;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.08em;
	line-height: 18px;
	font-size:12.8px  !important;


	&:focus {
		outline: none !important;
	}

	&.button-primary {
		border: 1px solid $orange2;
		padding: 14px 24px;
		border-radius:5px;

		&.inactive {border-color:#A1A7B5;  cursor: not-allowed;

		&:hover {background: transparent !important;}

	}

	}

	&.button-plain {
		border: 1px solid transparent;
		// border: 1px solid green;
		padding: 14px 0px;
		border-radius:5px;

		&.inactive {border-color:#A1A7B5;  cursor: not-allowed;

		&:hover {background: transparent !important;}

	}

	}
	&.active {
		background:$orange2;

	}
	&.button-secondary {
		font-size: 12.8px;
		line-height: 180%;
		display: flex;

		span {
			background-repeat: no-repeat;
			background-position: center;;
			background-size: 100% auto;
			position: relative;
			margin-left: 12px;

			&.hvr-back   {
				margin-left: 0px;
				margin-right: 12px;
			}

			svg {
				width: 13px;
				height: auto;
			}
		}

		&:hover {
			.hvr-forward{
			  -webkit-transform: translateX(8px);
			  transform: translateX(8px);
			}

				.hvr-back{
			  -webkit-transform: translateX(-4px);
			  transform: translateX(-4px);
			}

		}

		&.btn-inverted {
			color: #fff;

			span {
				//margin-left: 0;
				//margin-right: 16px;
			}
		}
	}
}

.data-bg {
	width: 100%;
	height: 0px;
}


button.slick-arrow {
	width: 70px;
	height: 70px;
	margin: 0 8px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	@media (min-width:$screen-md) {
		width: 80px;
		height: 80px;
	}

	&.caro-prev {
		background-image: url(../../images/svg/round-left-active.svg);

		&.slick-disabled {
			background-image: url(../../images/svg/round-left-disabled.svg);
		}

		&:hover {
			background-image: url(../../images/svg/round-left-hover.svg);

			&.slick-disabled {
				background-image: url(../../images/svg/round-left-disabled.svg);
			}
		}
	}
	&.caro-next {
		background-image: url(../../images/svg/round-right-active.svg);

		&.slick-disabled {
			background-image: url(../../images/svg/round-right-disabled.svg);
		}

		&:hover {
			background-image: url(../../images/svg/round-right-hover.svg);

			&.slick-disabled {
				background-image: url(../../images/svg/round-right-disabled.svg);
			}
		}
	}
}

a.woocommerce-privacy-policy-link {
	color: #fff !important;
}

